{{ 'insta-feed-section.css' | asset_url | stylesheet_tag }}

<style>
  .instafeed-section {
    padding: {{ section.settings.instafeeds_padding_top }}px 0 {{ section.settings.instafeeds_padding_bottom }}px;
  }

  @media (max-width: 768px) {
    .instafeed-section {
      padding: {{ section.settings.instafeeds_mobile_padding_top }}px 0 {{ section.settings.instafeeds_mobile_padding_bottom }}px;
    }
  }
</style>


<div class="instafeed-section">
    <div class="page-width">
        <div class="insta-feeds-section">
            <div class="section-heading section-header">
                <h2 class="section-title">{{ section.settings.instafeeds_title }}</h2>
                <h3 class="section-subtitle">{{ section.settings.instafeeds_subtitle }}</h3>
                {% if section.settings.instafeeds_button_text and section.settings.instafeeds_button_link %}
                    <a target="_blank" href="{{ section.settings.instafeeds_button_link }}" class="view-more-btn button btn-primary">
                        {{ section.settings.instafeeds_button_text }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="instagram-feed-box"></div>
</div>

{% schema %}
{
  "name": "Instagram Feeds",
  "settings": [
    {
      "type": "text",
      "id": "instafeeds_title",
      "label": "Section Title",
      "default": "Your Section Title"
    },
    {
      "type": "text",
      "id": "instafeeds_subtitle",
      "label": "Section Subtitle",
      "default": "Your Section Subtitle"
    },
    {
        "type": "text",
        "id": "instafeeds_button_text",
        "label": "Button Text",
        "default": "Explore"
    },
    {
        "type": "url",
        "id": "instafeeds_button_link",
        "label": "Button Link",
        "default": "/"
    },    
    {
      "type": "range",
      "id": "instafeeds_padding_top",
      "label": "Top Padding (px)",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "instafeeds_padding_bottom",
      "label": "Bottom Padding (px)",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "instafeeds_mobile_padding_top",
      "label": "Top Spacing (Mobile, px)",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "instafeeds_mobile_padding_bottom",
      "label": "Bottom Spacing (Mobile, px)",
      "unit": "px",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
  ],
  "presets": [
    {
      "name": "Instagram Feeds",
      "category": "Custom"
    }
  ]
}
{% endschema %}